<div layout="column">
  <div flex style="margin-right: 8px;">
    <md-list>
      <md-list-item ng-repeat="character in vm.characters" class="character-list md-2-line">
        <md-card class="md-whiteframe-1dp clickable click-hover" ng-click="vm.goTo(character.name)">
          <md-card-content>
              <span class="md-title online-{{character.online}}" ng-bind="character.name"></span>
              <md-icon ng-show="character.online" ng-cloak class="md-accent md-hue-1 title-icon">visibility</md-icon>
              <span class="logout-timestamp" ng-show="!character.online">{{ character.lastLogin.fromNow() }}</span>
            <p style="margin-top: 8px;">
              {{character.level}} {{character.race}}
              <span class="{{character.class.toLowerCase()}}-class-color">{{character.class}}</span>
            </p>
          </md-card-content>
        </md-card>
      </md-list-item>
    </md-list>
  </div>
</div>