<div>
  <div layout="row">
    <h2>Who's Online</h2>
    <span flex></span>
    <md-button ng-click="vm.refresh()" class="md-raised">
      Refresh
    </md-button>
  </div>

  <md-list>
    <md-list-item ng-repeat="character in vm.onlineCharacters">
      <p ng-bind="character.name"></p>
    </md-list-item>
  </md-list>

  <h2>Who's Offline</h2>
  <md-list>
    <md-list-item ng-repeat="character in vm.offlineCharacters">
      <p ng-bind="character.name"></p>
    </md-list-item>
  </md-list>
</div>