<!DOCTYPE html>
<html ng-app="tcgApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/javascripts/angular-material/angular-material.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body layout="column" ng-controller="AppCtrl">
    <md-toolbar class="md-accent" layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Hello World</h1>
      </div>
    </md-toolbar>

    <!--<script src='/javascripts/app/main.js'></script>-->
    <script src='/javascripts/angular/angular.js'></script>
    <script src='/javascripts/angular-animate/angular-animate.js'></script>
    <script src='/javascripts/angular-aria/angular-aria.js'> </script>
    <script src='/javascripts/angular-material/angular-material.js'></script>
    <script src='/javascripts/app/game.js'></script>
    <script src='/javascripts/app/appctrl.js'></script>
    <script src='/javascripts/app/app.js'></script>
  </body>
</html>
