<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><% title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="css/site.1b4c9cc.css" rel="stylesheet" type="text/css">
    <base href="/">
  </head>
  <body layout="column" ng-controller="AppCtrl">
    <nd-toolbar></nd-toolbar>
    <div layout="row" flex>
      <nd-nav></nd-nav>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <div ui-view="content"></div>
        </md-content>
      </div>
    </div>

    <!-- bower:js -->
    <script src="src/vendor/angular/angular.js"></script>
    <script src="src/vendor/angular-animate/angular-animate.js"></script>
    <script src="src/vendor/angular-aria/angular-aria.js"></script>
    <script src="src/vendor/angular-messages/angular-messages.js"></script>
    <script src="src/vendor/angular-material/angular-material.js"></script>
    <script src="src/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->

    <script src="src/app/app.module.js"></script>
    <script src="src/app/characters/characters.module.js"></script>
    <script src="src/app/core/core.module.js"></script>
    <script src="src/app/core/login/login.module.js"></script>

    <script src="src/app/app.config.js"></script>
    <script src="src/app/core/core.config.js"></script>

    <script src="src/app/app.route.js"></script>
    <script src="src/app/characters/characters.route.js"></script>
    <script src="src/app/core/core.route.js"></script>
    <script src="src/app/core/login/login.route.js"></script>

    <script src="src/app/characters/characterdetail.controller.js"></script>
    <script src="src/app/characters/characters.controller.js"></script>
    <script src="src/app/characters/characters.service.js"></script>
    <script src="src/app/core/_events.js"></script>
    <script src="src/app/core/adminctrl.js"></script>
    <script src="src/app/core/appctrl.js"></script>
    <script src="src/app/core/authinterceptor.js"></script>
    <script src="src/app/core/authtoken.js"></script>
    <script src="src/app/core/login/authctrl.js"></script>
    <script src="src/app/core/login/authservice.js"></script>
    <script src="src/app/core/ndnav.controller.js"></script>
    <script src="src/app/core/ndnav.directive.js"></script>
    <script src="src/app/core/ndtoolbar.directive.js"></script>
    <script src="src/app/core/utils.js"></script>
    <script src="src/app/templates.js"></script>

    <script src="src/app/templates.js"></script>
  </body>
</html>
