.character-repeater
  width 100%
  height 500px
  margin-bottom 16px

.character-card
  margin 0

.title-icon
  margin-left 8px
  vertical-align top

md-list-item.character-list
  & md-card
    width 100%

.online-false
  color #9E9E9E

.hunter-class-color
  color #2E7D32

.warrior-class-color
  color #5D4037

.paladin-class-color
  color #EC407A

.shaman-class-color
  color #3F51B5

.priest-class-color
  color #9E9E9E

.rogue-class-color
  color #FFC107

.druid-class-color
  color #E65100

.mage-class-color
  color #29B6F6

.warlock-class-color
  color #512DA8
