<md-dialog>
  <form name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Please login to continue</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$mdDialog">
          <md-icon aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container>
        <label>Username</label>
        <input ng-model="user.username" name="username" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" required ng-model="user.password" name="password">
      </md-input-container>
      <p ng-if="error">Incorrect username or password. Please try again.</p>
      <div layout="row">
        <md-button class="md-raised md-primary" aria-label="Register" ng-click="$state.go('register')" flex>
          <md-icon>person_add</md-icon>
          <span class="form-action">Sign up</span>
        </md-button>
        <md-button class="md-raised md-primary" aria-label="Login" ng-click="login()" flex>
          <md-icon>lock</md-icon>
          <span class="form-action">Login</span>
        </md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
