<md-content layout-padding>
  <md-grid-list
        md-cols-gt-md="6" md-cols-sm="2" md-cols-md="4"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
      <md-grid-tile class="clickable" md-colspan-gt-sm="2" md-rowspan-gt-sm="2"
        ng-repeat="option in adminMenu"
        ng-class="[ option.color ]"
        ui-sref="{{ option.link }}">
        <md-icon class="material-icons tile-icon">{{ option.icon }}</md-icon>
        <md-grid-tile-footer>
        <h3>{{ option.text }}</h3>
      </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
</md-content>
