<md-content>
  <md-list>
    <!-- <md-subheader class="md-no-sticky">{{ deck.name }}</md-subheader> -->
    <span ng-repeat="card in cards">
      <md-list-item class="md-2-line"  ng-click="$state.go('editcard', { 'cardId': card._id })">
        <md-icon class="material-icons list-icon-avatar" ng-if="card.typeicon">{{ card.typeicon }}</md-icon>
        <div class="md-list-item-text">
          <h3 class="md-display-1">{{ card.name }}</h3>
          <p class="md-body-1">{{ card.ability.name }}</p>
        </div>
        <h2 class="md-display-1 list-text-avatar">{{ card.strength }}</h2>
      </md-list-item>
      <md-divider></md-divider>
    </span>
    <md-list-item ng-if="AuthToken.isAdmin()" ng-click="$state.go('editcard')">
      <p>Add new card</p>
    </md-list-item>
  </md-list>
</md-content>
