<md-content layout-padding layout="column" layout-sm="column">
  <form name="abilityForm">
    <md-input-container>
      <label>Name</label>
      <input md-maxlength="20" required ng-model="ability.name" name="name">
      <div ng-messages="abilityForm.name.$error" ng-show="abilityForm.name.$touched">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Description</label>
      <input required md-maxlength="200" ng-model="ability.description" name="description">
      <div ng-messages="abilityForm.description.$error" ng-show="abilityForm.description.$touched">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The description has to be less than 200 characters long.</div>
      </div>
    </md-input-container>
  </form>
</md-content>
<section layout="row">
  <md-button class="md-raised md-primary" aria-label="Create ability" ng-click="save()">
    <md-icon>save</md-icon>
    <span class="form-action">Save</span>
  </md-button>
</section>
