<md-content layout-padding layout="column" layout-sm="column">
  <form name="registerForm">
    <md-input-container>
      <label>Username</label>
      <input md-maxlength="40" required ng-model="user.username" name="username">
      <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" md-maxlength="40" required ng-model="user.password" name="password">
      <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
      </div>
    </md-input-container>
  </form>
</md-content>
<section layout="row">
  <md-button class="md-raised md-primary" aria-label="Register" ng-click="register()">
    <md-icon>person_add</md-icon>
    <span class="form-action">Register</span>
  </md-button>
</section>
